/dist
/build
/netdissect.egg-info
*.pyc
/dataset
/dissect
/models
/client/.cache-loader/
/client/node_modules
/client/package-lock.json
/imagesample
/notebooks/dataset
/notebooks/dissect
/notebooks/netdissect
/notebooks/models
__pycache__
.DS_Store
.__*
.ipynb*
.*swp
.idea
data
client/demo/prune_data.html
client/demo/rankings_demo.json
client/demo/rankings_demo_iou.json
