@import "../fonts/ssp.css";

body {
  background-color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

button {
  padding: 5px;
  border-radius: 3px;
}

input {
  font-size: 9pt;
  font-weight: 600;
  margin-top: 3px;
  display: inline-block;
  border: 1px solid #ccc;
  //box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
}

input[type="number"] {
  width: 50px;
  //@extend %inputs

}

select {
  font-size: 9pt;
  font-weight: 600;

  //background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px'><polyline points='0,0 10,0 5,10'/></svg>");
  background-color: transparent;
  //background-repeat: no-repeat;
  //background-position: right 5px top 9px;
  //background-size: 7px 7px;
  //padding: 5px 15px 5px 5px;
  padding: 8px 6px;
  //width: auto;
  //font-size:16px;
  //font-weight: bold;
  //text-align:center;
  //text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  outline: 0;
}

.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #666666;
    cursor: pointer;
}

//.slider::-moz-range-thumb {
//    width: 15px;
//    height: 15px;
//    border-radius: 50%;
//    background: #666666;
//    cursor: pointer;
//}



.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  //padding: 10px 10px 10px 30px;

}

.navbarContent {
  margin: 10px 20px;
  span {
    padding-left: 10px;
  }
  button {
    margin-left: 10px;
  }
}

.navbarTitle {
  font-size: 12pt;
  //margin: 5pt;
  font-weight: bold;
}

.main_frame {
  position: fixed;
  top: 55px;
  //background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}

.floating_content {
  padding: 10px;
}

.side_bar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  //transition-property: right;
  //padding-top: 60px;
  //width: 300px;
  padding: 5px;
  color: whitesmoke;

  //transition-duration: 200ms;
  &.hidden {
    opacity: 0;
    //right:-300px;
    pointer-events: none;
  }

  //  -------
  //  special
  //  --------

  .unit {

    display: inline-block;
    position: relative;
    padding: 3px;

    transition-duration: 200ms;
    background-color: black;
    &:hover {
      transform: scale(2);
      z-index: 1000;

    }

    .unitImg {
      width: 60px;
      opacity: .5;

      &.ablate{
        border-bottom: 2px solid #e1484a;
        opacity: 1;
      }
      &.copy{
        border-top: 2px solid #01c235;
        opacity: 1;
      }


    }

    .ablation {
      margin-top: 2px;
      height: 1px;
      background-color: antiquewhite;
    }

    .label {
      font-size: 8pt;
      position: absolute;
      pointer-events: none;
      left: 1px;
      bottom: -2pt;
      color: white;
    }

  }

  .watch {

    opacity: .3;
    padding: 3px;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }

    &.selected {
      opacity: 1;
    }
  }

}

.gan_image {
  display: inline-block;
  padding: 3px;

  .gan_sub_image {
    display: inline-block;
    position: relative;
    img {
      //pointer-events: none;
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;

      .bg {
        pointer-events: none;
        .pointer{
          fill: #ffffff;
          fill-opacity: .2;
          stroke: #2a77d4;
          stroke-width: 2px;

          &.selected{
            stroke-width: 1px;
            stroke: #c32faf;
            fill-opacity: 0;
          }

        }
      }
      .single_pick {
        fill: #ffffff00;
      }

    }
    button:after {
      content: 'reset';
    }

    button:hover {
      background-color: #cccccc;
    }
    button.selected {
      background-color: #666666;
    }

    span {
      padding-left: 5px;
      font-size: 9pt;
      font-weight: bold;
    }

  }
}